*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #d38450;
}

header{
    background-color:antiquewhite;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.menu ul li a{
    color: rgb(0, 0, 0);
}

main{
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
    height: 450px;
    background-color: antiquewhite;
}

main section p{
    display: flex;
    text-align: left;
    padding: 5%;
}


#direitos{
    text-align: center;
}
